
/* FILEPATH: /Users/mota/Documents/xGentuso.github.io/css/app.css */

/* Reset default styles */
body, h1, p {
  margin: 0;
  padding: 0;
  color: white;
}


/* Center content on the page */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style headings */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Style paragraphs */
p {
  font-size: 16px;
  color: white;
  margin-bottom: 8px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
