/* FILEPATH: /Users/mota/Documents/xGentuso.github.io/css/app.css */

/* Reset default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: #333;
}

/* Center content on the page */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style headings */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

/* Style paragraphs */
p {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}
